:root {
    --sidebar-color: rgb(77, 158, 220);
    --sidebar-icon-width: .75rem;
    --header-color: white;
    --main-content-color: lightgray;
    --top-section-top-padding: .8rem;
}

* {
    margin: 0;
}

button {
    border: none;
    margin: 0;
    font-weight: bold;
}

.colored-button {
    background-color: var(--sidebar-color);
    color: white;
    display: grid;
    grid-template-columns: var(--sidebar-icon-width) 1fr;
    align-items: center;
}

button:hover {
    opacity: .85;
}

.header .colored-button {
    border-radius: 50rem;
}

a {
    color: white;
    text-decoration: none;
}

.icon {
    width: var(--sidebar-icon-width);
    padding-left: 1rem;
}

.container {
    display: grid;
    grid-template-rows: 10vh 10vh 80vh;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 
        "sidebar-top header-top"
        "sidebar-bottom header-bottom"
        "sidebar-bottom main-content";
}

.sidebar-bottom, 
.sidebar-top {
    grid-area: sidebar-bottom;
    background-color: var(--sidebar-color);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1.5rem, 2rem));
    justify-content: start;
    padding-top: var(--top-section-top-padding);
}

.sidebar-top .sidebar-link {
    font-size: 1.2rem;
}

.sidebar-top {
    grid-area: sidebar-top;
    z-index: 1;
}

.sidebar-link {
    margin-left: 2rem;
    justify-self: start;
    font-size: 1.01rem;
}

.header-top {
    font-size: .8rem;
    background-color: var(--header-color);
    padding-top: var(--top-section-top-padding);
    grid-area: header-top;
    display: grid;
    grid-template-columns: 45vw 1fr;
    align-items: center;
    gap: 30px;
}

.search {
    display: grid;
    grid-template-columns: var(--sidebar-icon-width) 1fr;
    align-items: center;
    gap: 1rem;
    padding-left: clamp(1rem, 5vw, 3rem);
}

.profile-pic {
    width: 2.5em;
}

.search-bar {
    width: clamp(3rem, 40vw, 100rem);
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: lightgray;
    align-self: start;
}

.header-top-right {
    padding-right:1rem;
    display: grid;
    grid-template-columns: 2.5em 2.5em 7.5em;
    gap: 2vw;
    justify-items: center;
    align-items: center;
    justify-self: end;
}

.search-icon, .notification-bell {
    width: 1em;
    height: 1em;
}

.notification-bell {
    background-image: url(./images/placeholder.svg);
    background-color: var(--header-color);
}

.header-bottom {
    font-size: 1rem;
    grid-area: header-bottom;
}

.main-content {
    grid-area: main-content;
}

/* To do: fix the home button overlapping the dashboard button when window size shrinks. Additionally, consider removing the dashboard link and just have text. Alternatively, when making the quick html files for all links, just replace dashboard with a different text.